<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 取用google "Noto Sans TC字體" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>台北一日遊</title>
</head>
<body class="attracDetailBody">
    <nav>
        <span class="navTitle">台北一日遊</span>
        <span class="navBook">預定行程</span>
        <span class="navLogin">登入/註冊</span>
    </nav>
    <div class="attracDetail">
        attraction
        <hr>
        detail
    </div>
    <footer><span>COPYRIGHT &copy; 2022 台北一日遊</span></footer>
</body>
</html>