<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 取用google "Noto Sans TC字體" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- 取用CSS設定 -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>台北一日遊</title>
</head>
<body class="indexBody">
    <nav>
        <span class="navTitle">台北一日遊</span>
        <span class="navBook">預定行程</span>
        <span class="navLogin">登入/註冊</span>
    </nav>
    <div class="heroSection" id="heroSection">
        <span class="heroTitle">輕鬆享受台北一日悠閒</span>
        <span class="heroSubtitle">探索每個角落，體驗城市的深度旅遊行程</span>
        <form>
            <input class="searchbar" id="searchbar" type="text" placeholder="輸入景點名稱查詢"/>
            <button class="searchBtm" id="searchBtm"></button>
            <div class="categoryList" id="categoryList" style="display: none;">
                <!-- 以下向後端索取類別(category)資料、並產生對應內容 -->
            </div>
        </form>
    </div>
    <!-- 以下向後端索取景點(attrac)資料、並產生對應內容 -->
    </div>
    <footer id="footer"><span>COPYRIGHT &copy; 2022 台北一日遊</span></footer>
    <script>
        // 設定索取的景點資料(requestData)
        const requestData = {"page": 0, "keyword": "", "onLoading": false};    // 搜尋列(searchbar)預設為""

        // 依據景點資料產生API路徑
        const requestURL = (requestData)=>{
            let url = "";
            if(requestData.page==null){                       // 如果此頁為空值(沒有資料)，則回傳空值
                url = null;
            }else if(requestData.keyword.trim().length>0){    // 如果此頁非空值、且關鍵字有資料，則回傳包含關鍵字的API路徑
                url = `/api/attractions?page=${requestData.page}&keyword=${requestData.keyword}`;                
            }else{                                            // 其餘狀況(此頁非空值、且無關鍵字)，則回傳只有頁數的API路徑 
                url = `/api/attractions?page=${requestData.page}`;
            };
            return url;
        };
        // 索取景點資料
        const getData = (requestData)=>{
            let url = requestURL(requestData);
            if(requestData.onLoading==true){
                console.log("already fetched.");
            }else{
                if(url==null){    // 如果此頁為空值，則不再載入資料
                    void(0);
                }else{            // 如果此頁非空值，則繼續索取資料
                    requestData.onLoading = true;
                    fetch(url, {"method": "GET"}
                    ).then(function(response){
                        return response.json();
                    }).then(function(data){
                        requestData.page = data["nextPage"];
                        requestData.onLoading = false;
                        console.log("Loading is done.");
                        let footerTab = document.getElementById("footer");
                        let mainContentTab = document.createElement("div");              // 建立新的mainContent以利搜尋新的景點時，把舊結果移除
                        mainContentTab.setAttribute("class", "attracList");
                        mainContentTab.setAttribute("id", "mainContent");
                        footerTab.parentNode.insertBefore(mainContentTab, footerTab);    // 將mainContent的標籤嵌入於footer之上
                        for(let i=0; i<data["data"].length; i++){                        // 針對收到的回應，抓取圖片、景點名稱、捷運與類別資料
                            let image = data["data"][i]["images"][0];
                            let attrac = data["data"][i]["name"];
                            let mrt = data["data"][i]["mrt"];
                            let category = data["data"][i]["category"];
                            renderAttracList(image, attrac, mrt, category);              // 將資料畫入頁面中
                        };
                        observer.observe(document.querySelector("figure:nth-last-child(-n+6)"));
                    });
                };                
            };
        };

        // 載入下一頁景點資料流程
        const observer = new IntersectionObserver(
            function(entries, observer){
                if(entries[0].isIntersecting){
                    getData(requestData);
                    observer.unobserve(entries[0].target);
                    observer.observe(document.querySelector("figure:nth-last-child(-n+6)"));
                };
            },{root: document.querySelector("figure:nth-last-child(-n+6)"), threshold: [0, 0.5, 1]});

        // 將景點資料畫入頁面中
        const renderAttracList = (image, attrac, mrt, category)=>{
            // 建立與設定tabs
            let mainContentTab = document.getElementById("mainContent");
            let figTab = document.createElement("figure");
            let imgTab = document.createElement("img");
            imgTab.setAttribute("src", image);
            let figcapTab = document.createElement("figcaption");
            let attracTab = document.createElement("span");
            attracTab.setAttribute("class", "figAttraction")
            attracTab.textContent = attrac;
            let divTab = document.createElement("div");
            let mrtTab = document.createElement("span");
            mrtTab.setAttribute("class", "figMRT");
            mrtTab.textContent = mrt;
            let categoryTab = document.createElement("span");
            categoryTab.setAttribute("class", "figCat");
            categoryTab.textContent = category;
            // 組合tabs
            mainContentTab.appendChild(figTab);
            figTab.appendChild(imgTab);
            figTab.appendChild(figcapTab);
            figTab.appendChild(divTab);
            figcapTab.appendChild(attracTab);
            divTab.appendChild(mrtTab);
            divTab.appendChild(categoryTab);
            // 預期的樣子
            // <figure>
            //     <img src="attrac_img_path" />
            //     <figcaption>
            //         <span class="figAttraction">Attraction</span>
            //     </figcaption>
            //     <div>
            //         <span class="figMRT">MRT</span>
            //         <span class="figCat">Category</span>
            //     </div>
            // </figure>
        }

        // 取得類別清單
        const getCategoryList = ()=>{
            fetch("/api/categories", {"method": "GET"}
            ).then(function(response){
                return response.json();
            }).then(function(data){
                for(let i=0; i<data["data"].length; i++){
                    let category = data["data"][i];
                    renderCategoryList(category, i);
                };
            });
        };

        // 將類別清單畫入頁面中
        const renderCategoryList = (category, id)=>{
            let categoryListTab = document.getElementById("categoryList");
            let categoryTab = document.createElement("span");
            categoryTab.setAttribute("class", "category");
            categoryTab.setAttribute("tabindex", id);
            categoryTab.textContent = category;
            categoryListTab.appendChild(categoryTab);
        };

        // 設定點擊搜尋按鈕所觸發的動作
        const requestBtm = (requestData)=>{
            let inputKeyword = document.getElementById("searchbar").value;
            if(inputKeyword==requestData.keyword){
                console.log("input keyword: (the same as the last keyword => do nothing)")
                void(0);
            }else if(typeof(inputKeyword)=="string" && inputKeyword.trim().length>0 && inputKeyword.trim().length<=100){
                console.log("input keyword: "+inputKeyword);
                let mainContentTab = document.getElementById("mainContent");
                mainContentTab.remove();
                requestData.page = 0;
                requestData.keyword = inputKeyword;
                getData(requestData);
            }else{
                console.log("input keyword: (not a qualififed input => do nothing)");
                void(0);
            };
        };

        // 載入預設的第一頁內容與索取類別資料
        getData(requestData);
        getCategoryList();

        // 取得點擊時的相關物件資料
        let inputTab = document.getElementById("searchbar");
        let categoryListTab = document.getElementById("categoryList");

        // 點擊時所觸發的動作
        window.addEventListener("click", function(event){
            event.preventDefault();
            if(event.target.id=="searchbar"){                   // 點擊搜尋列時，展開類別清單
                if(categoryListTab.style.display=="none"){
                    categoryListTab.style.display = "grid";
                }else{                                          // 關閉類別清單
                    categoryListTab.style.display = "none";
                };
            }else if(event.target.className=="category"){       // 選取類別時，將類別帶入搜尋列中，並關閉類別清單
                inputTab.value = event.target.textContent;
                categoryListTab.style.display = "none";
            }else if(event.target.id=="searchBtm"){             // 點擊搜尋按鈕時，將頁面景點資料清除，並更新景點資料
                requestBtm(requestData);
            }else{                                              // 關閉類別清單
                categoryListTab.style.display = "none";
            };
        }, false);

    </script>
</body>
</html>