<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 取用google "Noto Sans TC字體" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- 取用CSS設定 -->
    <link rel="stylesheet" type="text/css" href="/static/common.css">
    <link rel="stylesheet" type="text/css" href="/static/thankyou.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/thankyou.css"> -->
    <title>台北一日遊</title>
</head>
<body>
    <nav>
        <span class="navTitle"><a href="/">台北一日遊</a></span>
        <span class="navBook">預定行程</span>
        <span id="navMember"></span>
    </nav>
    <div class="mainContent" id="mainContent">
        <div id="title">
            您好，{{data.data.contact.name}}，已完成付款的行程如下：
        </div>
        <div id="tourInfo">
            <img id="img" src="{{data.data.trip.attraction.image}}" alt=""/>
            <span id="tourPlace">台北一日遊：{{data.data.trip.attraction.name}}</span>
            <span class="tourDateTitle">日期：</span>
            <div id="tourDate">{{data.data.trip.date}}</div>
            <span class="tourTimeTitle">時間：</span>
            <div id="tourTime">{{data.data.trip.time}}</div>
            <span class="tourPriceTitle">費用：</span>
            <div id="tourPrice">新台幣 {{data.data.price}} 元</div>
            <span class="tourAddressTitle">地點：</span>
            <div id="tourAddress">{{data.data.trip.attraction.address}}</div>
        </div>
    </div>
    <footer id="footer"><span>COPYRIGHT &copy; 2022 台北一日遊</span></footer>
    <script type="module" src="/static/member.js"></script>
    <script type="module" src="/static/thankyou.js"></script>
</body>
</html>